<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>学无止境-个人博客</title>
<meta name="keywords" content="个人博客" />
<meta name="description" content="青春,博客,爱情,文章" />
<link rel="stylesheet" href="css/index.css"/>
<link rel="stylesheet" href="css/style.css"/>
<script type="text/javascript" src="js/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<style type="text/css">
  .current{
    background-color: #829696;
  }
</style>
</head>
<body>
      <!--header start-->
    <div id="header">
      <h1>☆春来春去☆-个人博客</h1>
      <p>青春是打开了,就合不上的书。人生是踏上了，就回不了头的路，爱情是扔出了，就收不回的赌注。</p>    
    </div>
     <!--header end-->
    <!--nav-->
     <div id="nav">
         <ul>
         <li><a href="index.html">首页</a></li>
         <li><a href="about.html">关于我</a></li>
         <li><a href="shuo.html">碎言碎语</a></li>
         <li><a href="riji.html">个人日记</a></li>
         <li><a href="xc.html">相册展示</a></li>
         <li><a href="learn.html">学无止境</a></li>
         <li><a href="guestbook.html">留言板</a></li>
         <div class="clear"></div>
        </ul>
      </div>
       <!--nav end-->
    <!--content start-->
    <div id="content">
       <!--left-->
         <div class="left" id="learn">
           <div class="weizi">
           <div class="wz_text">当前位置：<a href="#">首页</a>><h1>学无止境</h1></div>
           </div>
           <div class="l_content">
              <!--wz-->
           <div class="wz">
            <h3><a href="http://www.tuicool.com/articles/BVV7Jjf" title="Bootstrap学习笔记">Bootstrap学习笔记</a></h3>
             <dl>
               <dt><img src="images/s1.jpg" width="200"  height="123" alt=""></dt>
               <dd>
                 <p class="dd_text_1">bootstrap是一个前端框架，所谓框架就是为满足特定需要在特定环境下提供的一些有机联系的组件，bootstrap主要提供了一些css组件，就是对页面的html元素，如表单元素（按钮、输入框框、单选、多选）、布局、表格、图片、文字等等进行了一些美化，它提供了一系列的类，只要在html文件中调用相应的class即可。.....</p>
               <p class="dd_text_2">
               <span class="left author">姜糖水</span><span class="left sj">时间:2016-10-03</span>
               <span class="left fl">分类:<a href="#" title="学无止境">学无止境</a></span><span class="left yd"><a href="http://www.tuicool.com/articles/BVV7Jjf" title="阅读全文">阅读全文</a>
               </span>
                <div class="clear"></div>
               </p>
               </dd>
               <div class="clear"></div>
             </dl>
            </div>
           <!--wz end-->
            <!--wz-->
           <div class="wz">
            <h3><a href="http://www.open-open.com/lib/view/open1409929982338.html" title="深度开源Node.js">深度开源Node.js</a></h3>
             <dl>
               <dt><img src="images/s2.jpg" width="200" height="123" alt=""></dt>
               <dd>
                 <p class="dd_text_1">NodeJS框架express的路径映射（路由）功能及控制。
                我们知道Express是一个基于NodeJS的非常优秀的服务端开发框架，本篇CSSer将提供express框架的route和route control章节，route实现了客户端请求的URL的路径映射功能，暂且译为路由或URL映射吧。如果你还是不太理解，相信看完本篇文章将会有些收获的。.....</p>
               <p class="dd_text_2">
               <span class="left author">佚名</span><span class="left sj">时间:2016-10-20</span>
               <span class="left fl">分类:<a href="#" title="学无止境">学无止境</a></span><span class="left yd"><a href="http://www.open-open.com/lib/view/open1409929982338.html" title="阅读全文">阅读全文</a>
               </span>
                <div class="clear"></div>
               </p>
               </dd>
               <div class="clear"></div>
             </dl>
            </div>
           <!--wz end-->
                <!--wz-->
           <div class="wz">
            <h3><a href="http://www.tuicool.com/articles/IBVBZfY" title="浅谈JS闭包和this关键字">浅谈JS闭包和this关键字</a></h3>
             <dl>
               <dt><img src="images/s3.jpg" width="200"  height="123" alt=""></dt>
               <dd>
                 <p class="dd_text_1">问题背景：由于JS中闭包的存在和this的特殊性使得很多时候无法判断出变量的值。.....</p>
               <p class="dd_text_2">
               <span class="left author">佚名</span><span class="left sj">时间:2016-10-29</span>
               <span class="left fl">分类:<a href="#" title="学无止境">学无止境</a></span><span class="left yd"><a href="http://www.tuicool.com/articles/IBVBZfY" title="阅读全文">阅读全文</a>
               </span>
                <div class="clear"></div>
               </p>
               </dd>
               <div class="clear"></div>
             </dl>
            </div>
           <!--wz end-->
            <!--wz-->
           <div class="wz">
            <h3><a href="http://www.tuicool.com/articles/6feq222" title="vue.js的基本操作">vue.js的基本操作</a></h3>
             <dl>
               <dt><img src="images/s1.jpg" width="200" height="123" alt=""></dt>
               <dd>
                 <p class="dd_text_1">1.{{message}}输出data数据中的message。

                  2.v-for="todo in todos"输出data数据中的dotos数组

                  3.v-on:click="aaaa"绑定methods中的aaaa()事件，可以简写为@click

                  4.v-model="input" 输出data数据中input的值，双向绑定。

                  5.this.$dispatch("aaa", this.msg)向上派发事件，aaa写在events中

                  6.:id="branch"表示id的值由data数据中的branch决定，通常
                  .....</p>
               <p class="dd_text_2">
               <span class="left author">佚名</span><span class="left sj">时间:2016-11-09</span>
               <span class="left fl">分类:<a href="#" title="学无止境">学无止境</a></span><span class="left yd"><a href="http://www.tuicool.com/articles/6feq222" title="阅读全文">阅读全文</a>
               </span>
                <div class="clear"></div>
               </p>
               </dd>
               <div class="clear"></div>
             </dl>
            </div>
           <!--wz end-->
             <!--wz-->
           <div class="wz">
            <h3><a href="http://www.makaidong.com/%E5%8D%9A%E5%AE%A2%E5%9B%AD%E5%8D%9A%E4%B8%BB/20150925/36982.html" title="AngularJS跨域请求">AngularJS跨域请求</a></h3>
             <dl>
               <dt><img src="images/s3.jpg" width="200"  height="123" alt=""></dt>
               <dd>
                 <p class="dd_text_1">本文主要针对网上各种跨域请求的总结，并加入自己的验证判断，实现工作中遇到的跨域问题。所涉及到的领域很小，仅仅局限于：AngularJS CORS post 并同时需要实现json数据传送给服务器。.....</p>
               <p class="dd_text_2">
               <span class="left author">佚名</span><span class="left sj">时间:2016-11-18</span>
               <span class="left fl">分类:<a href="#" title="学无止境">学无止境</a></span><span class="left yd"><a href="http://www.makaidong.com/%E5%8D%9A%E5%AE%A2%E5%9B%AD%E5%8D%9A%E4%B8%BB/20150925/36982.html" title="阅读全文">阅读全文</a>
               </span>
                <div class="clear"></div>
               </p>
               </dd>
               <div class="clear"></div>
             </dl>
            </div>
           <!--wz end-->
           </div>
         </div>
         <!--end left -->
         <!--right-->
          <div class="right" id="c_right">
          <div class="s_about">
          <h2>关于博主</h2>
           <img src="images/my.jpg" width="230" height="230" alt="博主"/>
           <p>博主：杨幸</p>
           <p>职业：web前端、网页设计</p>
           <p>简介：技能的升级</p>
           <p>
           <a href="#" title="联系博主"><span class="left b_1"></span></a><a href="#" title="加入QQ群，一起学习！"><span class="left b_2"></span></a>
           <div class="clear"></div>
           </p>
          </div>
          <!--栏目分类-->
           <div class="lanmubox">
              <div class="hd">
               <ul><li>精心推荐</li><li>最新文章</li><li class="hd_3">随机文章</li></ul>
              </div>
              <div class="bd">
                <ul>
          <li><a href="http://wenku.it168.com/tag/157243_0_1.shtml" title="web前端开发实例">web前端开发实例</a></li>
          <li><a href="http://kb.cnblogs.com/page/516050/" title="关于响应式布局">关于响应式布局</a></li>
          <li><a href="http://www.sanwen.net/subject/3879835/" title="佛说，这一世所有的相遇......">佛说，这一世所有的相遇......</a></li>
          <li><a href="http://www.jj59.com/jjart/388272.html" title="2016告别了，下一站2017">2016告别了，下一站2017</a></li>
          <li><a href="http://blog.csdn.net/yingyiledi/article/details/38947607" title="前端编程提高之旅（四）----backbone初体验">前端编程提高之旅（四）----backbone初体验</a></li>
        </ul>
                 <ul>
          <li><a href="http://www.jj59.com/jjart/388382.html" title="这一生很苦，也很孤独">这一生很苦，也很孤独</a></li>
          <li><a href="http://www.jj59.com/jjart/387667.html" title="有些人，有些事，一句话，一辈子">有些人，有些事，一句话，一辈子</a></li>
          <li><a href="http://www.jj59.com/jjart/387437.html" title="一句句，一步步，一段段……">一句句，一步步，一段段……</a></li>
          <li><a href="http://www.jizhuomi.com/software/641.html" title="写个微信小程序项目练练手">写个微信小程序项目练练手</a></li>
          <li><a href="http://www.jb51.net/article/87678.htm" title="使用IIS配置PHP环境">使用IIS配置PHP环境</a></li>
        </ul>
                 <ul>
          <li><a href="http://www.tuicool.com/articles/ZjemEbJ" title="经典webpack入门">经典webpack入门</a></li>
          <li><a href="http://sanwen8.cn/p/250QmJI.html" title="IT行业的骨灰级文章！">IT行业的骨灰级文章！</a></li>
          <li><a href="http://www.duwenzhang.com/wenzhang/renshengzheli/ganwu/20160225/346794.html" title="几番思念几多情，几多爱恨几多忧">几番思念几多情，几多爱恨几多忧</a></li>
          <li><a href="http://www.duwenzhang.com/wenzhang/renshengzheli/ganwu/20150605/326912.html" title="与人为善，于己为善">与人为善，于己为善</a></li>
          <li><a href="http://blog.fens.me/nodejs-grunt-intro/" title="grunt让Nodejs规范起来">grunt让Nodejs规范起来</a></li>
        </ul>
              </div>
           </div>
           <!--end-->
         </div>
         <!--end  right-->
         <div class="clear"></div>
         
    </div>
    <!--content end-->    
    <script  type="text/javascript" src="js/nav.js"></script>
</body>
</html>

